/* FONTS */
@font-face {
    font-family: 'inter';
    src: url("../assets/fonts/inter.woff") format('woff'),
		 url("../assets/fonts/inter.woff2") format('woff2');
	font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url("../assets/fonts/spectral-light.woff") format('woff');
}

* {
	font-family: 'inter', sans-serif;
	font-style: normal;
}

.about-me__introduction, .quote, .quote__info, .quote__author, .quote__text {
	font-family: 'Spectral', serif;
}

/* MAIN SETTINGS */

body {
	max-width: 1920px;
	margin: auto;
	font-size: 16px;;
}

/* HEADINGS */
h1 {
    font-size: 1.625rem
}

h1 span {
    display: block;
    padding-top: 1vh;
	font-size : 1.2rem
}

h2 {
    font-size: 1.8rem
}

#contact h2 {
    padding-bottom: 1vh
}

#gallery h2,
#services h2 {
    padding-top: 3vh
}

/* HEADER */

.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 5vw;
	padding-block: 1.5vh;
	align-items: center;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 1rem;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 1vw;
}

.nav a {
	text-decoration: none;
	color: #000
}

/* SECTION 1 - ABOUT-ME */
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;
	/* Adaptation de la hauteur en fonction de la largeur pour la photo de profil de N.Carducci */
	height: auto;

}
#about-me {
	flex: 2
}
.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction {
	font-weight: 800;
	font-style: italic;
	width: 60%;
}
#about-me p {
	width: 80%;
	font-size: .875rem;
}

/* SECTION 2 - GALLERY */
.title{
	text-align: center;
}
.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .nav-pills .active-tag {
	color: #000;
	background-color: #BEB45A;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}

.nav-pills :hover{
	cursor: pointer;
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1.5rem;
}
.quote {
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-style: italic;
	font-weight: 300;
	font-size: calc(1.375rem + 1.1vw)
}
.quote__author {
	font-weight: 800;
	font-size: 1.5rem;
	display: block;
}
.quote__info{
	font-size: 1rem;
	display: block;
}

/* SECTION 3 - SERVICES */

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}
#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;
}
.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.service__price{
	font-size:1.4rem;
	font-weight: 300;
	display: flex;
	flex-direction: column;
}
.price__details{
	font-size: 1rem
}

/* FOOTER */

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}
#contact .container {
	display: flex;
}

.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.form-container {
	flex : 2;
}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}
form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}
form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2rem;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

.contact__info{
	background-color: #e5e2ce;
	color: black;
	height:auto;
	text-align: center;
	padding:1vh 0;
	border: none;
}
.contact__info p{
	margin:0;
	font-size: 0.8rem
}
hr{
	border: 1px solid #BEB45A;
	margin: 0;
}
/* MEDIA QUERIES */

@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me blockquote, #about-me p{
		width: 100%;
	}
	form{
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	h1 span{
		font-size: 1rem;
	}
	.nav ul{
		font-size: 0.9rem;
	}
	.gallery ul{
		font-size: 0.9rem
	}
	#about{
		flex-direction: column;
	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}
	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}
	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 661px) {
	h1{
		text-align: center;
	}
	.gallery ul{
		font-size: 0.8rem
	}
	.gallery li{
		text-align: center;
	}
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	.picture {
		width: 80%;
	}
}

@media all and (max-width: 381px){
	.top-header .nav li {
		flex: 1;
		padding-block: 0.7em;
		text-align: center;}
	.gallery ul, .top-header .nav li{
			font-size: 0.7rem
		}
}